<aside class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
      <ul class="metismenu " id="sidebarNav">
   
        <li><a [routerLink]="['/DashBoard/Client']" aria-expanded="false"><i class="fas fa-users"></i><span
          class="nav-title">Gerer client</span></a></li>

        <li><a [routerLink]="['/DashBoard/Produit']" aria-expanded="false"><i class="dashicons dashicons-editor-help"></i><span
          class="nav-title">Gerer Produit</span></a></li>
  
        

          
        <li><a [routerLink]="['/DashBoard/Stock']" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span
          class="nav-title">Gerer stock</span></a></li>

          <li><a [routerLink]="['/DashBoard/Evvvvent']" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span
            class="nav-title">Events</span></a></li>

          
  

          <li><a (click)="logout()" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span
            class="nav-title">Logout</span></a></li>
         
        
      

  

      </ul>
    </div>
    <!-- end sidebar-nav -->
  </aside>
  