<!-- begin app-header -->
<header class="app-header top-bar">
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-md">

    <!-- begin navbar-header -->
    <div class="navbar-header d-flex align-items-center">
      <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
      <a class="navbar-brand" [routerLink]="['/Home']">
        <img src="assets/Front/img/logo/logo.png" class="img-fluid logo-desktop" alt="logo" />
        <!-- <img src="assets/assets/img/logo-icon.png" class="img-fluid logo-mobile" alt="logo" /> -->
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="ti ti-align-left"></i>
    </button>
    <!-- end navbar-header -->
    <!-- begin navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navigation d-flex">
    
        <ul class="navbar-nav nav-right ml-auto">
          <li class="nav-item dropdown">




            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown2" role="button" [routerLink]="['/DashBoard/MessagesBack']"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-email"></i>
              <span *ngIf="i!=messagetab.length" class="notify">
                <span class="blink"></span>
                <span class="dot"></span>
              </span>
              
            </a>




    
          </li>

     
        </ul>
      </div>
    </div>
    <!-- end navigation -->
  </nav>
  <!-- end navbar -->
</header>
<!-- end app-header -->