<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">


                    <div class="page-title mb-2 mb-sm-0">

                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    Pages
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Courses</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- start-clients contant-->


        <div class="row">

            <div class="search-wrapper">

                <div class="search-content">
                    <form>
                        <div class="form-group">

                            <input type="text" class="form-control autocomplete" placeholder="Search Here" name="search"
                                [(ngModel)]="searchtext" autofocus="autofocus">

                            <div id='button-holder'>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-statistics clients-contant">
                    <div class="card-header">
                        <div class="d-xxs-flex justify-content-between align-items-center">
                            <div class="card-heading">
                                <h4 class="card-title">Courses List </h4>
                            </div>



                            <div class="mt-xxs-0 mt-3 btn-group btn-group-toggle">
                                <a class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#exampleModal">
                                    Add New Course
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-0 table-responsive">
                        <table class="table clients-contant-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>

                                    <th scope="col">Title</th>
                                    <th scope="col">Coach </th>
                                    <th scope="col">Availability </th>
                                    <th scope="col">Destinated For </th>
                                    <th scope="col">Actions</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of listeOffres |filter : searchtext">
                                    <td><a><img class="rounded-circle"
                                        src="{{this.OffreService.OffreUrl+'/Imgarticles/'+r.idoffre}}"
                                        style="height :200px;width:200px" alt=""></a></td>

                                    <td>{{r.title}} </td>
                                    <td>{{r.coach}}</td>

                                    <td>{{r.placedispo}}</td>
                                    <td>{{r.destigneaquellepersonne}}</td>



                                    <td><a (click)="DeleteCourses(r.idoffre)"
                                            class="btn btn-icon btn-outline-danger btn-round "><i
                                                class="ti ti-trash "></i></a>





                        </table>

                    </div>

                    <br>

                </div>

            </div>
        </div>
        <!-- end-clients contant-->
    </div>
    <!-- end container-fluid -->
</div>





<!-- add  reactive produit  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Course Form : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formoffres">

                    <div class="row">
                        <div class="col-12">



                            <div class="form-group">
                                <label class="control-label">Title</label>
                                <input type="text" class="form-control" formControlName="title" />


                            </div>


                            <div class="form-group">
                                <label class="control-label">description</label>
                                <input type="text" class="form-control" formControlName="description" />
                
                
                              </div>
                              <div class="form-group">
                                <label class="control-label">Coach</label>
                                <input type="text" class="form-control" formControlName="coach" />
                
                
                              </div>
                              <div class="form-group">
                                <label class="control-label">Destinated For:</label>
                                <input type="text" class="form-control" formControlName="destigneaquellepersonne" />
                
                
                              </div>


                        </div>



                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Availability</label>
                                <input type="number" class="form-control" formControlName="placedispo" />

                            </div>

                        </div>

                        <div class="form-group">
                            <label>File Upload </label>
                            <input type="file" accept="image/*" (change)="onSelectFile($event)" class="form-control" type="file"
                              formControlName="fileName">
                            <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
                          </div>





                        <div class="col-12 mt-3 ">


                      
                            <button type="button" class="btn btn-dark" data-dismiss="modal" id="cancel">Close</button>

                            <button type="button" class="btn btn-primary ml-3"
                            href="javascript:window.location.reload()" (click)="addoffres()">Add Course</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>