<app-nav-bar></app-nav-bar>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center pt-70">
                            <h2>Card Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="page-content container pt-5 pb-5">
    <div class="page-header text-blue-d2">
    

        <div class="page-tools">
            <div class="action-buttons" >
                <a class="btn bg-white btn-light mx-1px text-95"    >
                    <!-- <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2" ></i>
                    Print -->
<button class="btn btn-white text-primary-m1" printSectionId="demo" ngxPrint><i class="fa fa-print"></i> PRINT</button>

                    
                </a>
                
                <a class="btn bg-white btn-light mx-1px text-95"  data-title="PDF">
                    <button class="btn btn-white text-danger-m1 " (click)="makePDF()"><i class="fa fa-print"></i> EXPORT</button>

                </a>
            </div>
        </div>
    </div>

    <div class="container px-0" id="demo" #demo>
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
        
                <!-- .row -->

            

                <div class="mt-4">
                    <div class="row text-600 text-white bgc-default-tp1 py-25">
                        <div class="col-3">Produit</div>

                        <div class="col-2">Quantity of the product</div>
                        <div class="col-3">Total Price</div>
                        <div class="col-2">% Discount</div>
                        <div class="col-2">Discount Amount</div>




                        
                    </div>

                    <ng-container *ngFor="let c of list">


                    <div class="text-95 text-secondary-d3">
                        <div class="row mb-2 mb-sm-0 py-25">

                            <div class="col-3"> {{ c.totheparentdetailfacture.libelle }} </div>

                            <div class="col-2"> {{ c.qte }} </div>
                            <div class="col-3">{{ c.prixtotal }}</div>
                            <div class="col-2"> {{ c.pourcentageRemise }} </div>
                            <div class="col-2"> {{ c.montantRemise }} </div>


                        </div>

                        
                    </div>
                    </ng-container>

                    <div class="row border-b-2 brc-default-l2"></div>

          

               

                    <hr />

                    <div>
                        <span class="text-secondary-d1 text-105">Thank you for your business</span>
                        <a href="#" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0" [routerLink]="['/Card']">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </main>


    <app-footer></app-footer>
